<div class="row cabecera-border rounded"> 
  <div class="col-2 text-center" id="imgAlcaldia">
    <img src="assets/img/imgalcaldia.png" alt="alcaldia.png">
  </div>

  <div class="col-10" style="text-align: center;">
    <div class="row" id="titleFormulario">
      <div class="col-12 text-center py-2">
        <h3>{{titleForm}}</h3>
      </div>
    </div>
    <div class="row" style="text-align: end;">
      <div class="col-4 text-center py-2">
        <h5>CODIGO:</h5>
      </div>
      <div class="col-4 text-center py-2" id="versionForm">
        <h5>VERSION:</h5>
      </div>
      <div class="col-4 text-center py-2">
        <h5>FECHA:</h5>
      </div>
    </div>
  </div>
</div>