<!-- Modal -->
<div class="modal fade" id="addCapacidadProcesamiento" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">CAPACIDAD DE PROCESAMIENTO DEL EQUIPO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Procesador:</label>
            <input type="text" class="form-control" name="nombremodal">
          </div>
          <div class="form-group">
            <label class="col-form-label">Velocidad del procesador</label>
            <input type="text" class="form-control" name="usuariomodal">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Tipo de RAM</label>
            <input type="text" class="form-control" name="paswdmodal">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Velocidad de RAM</label>
            <input type="text" class="form-control" name="paswdmodal">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Añadir</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>