{{> head }}
  {{> navbar }}
    {{> sideNav }}
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid">
          <h1 class="mt-4 mb-3 text-center">{{titleForm}}</h1>
          {{> headerForms }}
          <form action="" method="POST" class="mt-4">
            {{!-- UBICACION DEL EQUIPO. START --}}
            <div class="form-group row rounded mx-auto cuadros-forms">
              <h5 class="col-sm-12 mb-3"><strong>INFORMACION INICIAL DEL EQUIPO.</strong></h5>
              <label for="" class="col-sm-2 col-form-label">REGISTRO No:</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" value="">
              </div>
              <label for="" class="col-sm-2 col-form-label txt-small">CODIGO DEL EQUIPO:</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" value="">
              </div>
              <button class="col-sm-2 btn btn-info form-control">GENERAR CODIGO</button>

              <label for="" class="col-sm-2 col-form-label">SECRETARIA:</label>
              <div class="col-sm-4 mt-2">
                <select name="" class="custom-select mr-sm-4">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
              </div>
              <label for="" class="col-sm-2 col-form-label">DEPENDENCIAS:</label>
              <div class="col-sm-4 mt-2">
                <select name="" class="custom-select mr-sm-4">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
              </div>

              <label for="" class="col-sm-2 col-form-label txt-small">RESPONSABLE DEL EQUIPO:</label>
              <div class="col-sm-4 mt-2">
                <input type="text" class="form-control" value="">
              </div>
              <label for="" class="col-sm-2 col-form-label">CARGO:</label>
              <div class="col-sm-4 mt-2">
                <input type="text" class="form-control" value="">
              </div>
            </div>
            {{!-- UBICACION DEL EQUIPO. END --}}

            {{!-- DESCRIPCION GENERICA DEL EQUIPO. START --}}
            <div class="form-group row rounded mx-auto cuadros-forms">
              <h5 class="col-sm-12 mb-3"><strong>DESCRIPCION GENERICA DEL EQUIPO.</strong></h5>
              <label for="" class="col-sm-2 col-form-label">TIPO DE EQUIPO:</label>
              <div class="col-sm-2 mt-2">
                <select name="" class="custom-select mr-sm-4">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
              </div>
              <label for="" class="col-sm-2 col-form-label txt-small">MODELO DEL EQUIPO:</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" value="">
              </div>
              <label for="" class="col-sm-2 col-form-label txt-small">MARCA DEL LA CPU:</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" value="">
              </div>

              <label for="" class="col-sm-2 col-form-label txt-small">MODELO DEL LA CPU:</label>
              <div class="col-sm-4 mt-2">
                <input type="text" class="form-control" value="">
              </div>
              <label for="" class="col-sm-2 col-form-label txt-small">SERIAL DE LA CPU:</label>
              <div class="col-sm-4 mt-2">
                <input type="text" class="form-control" value="">
              </div>
            </div>
            {{!-- DESCRIPCION GENERICA DEL EQUIPO. END --}}

            {{!-- TIPO DE MANTENIMIENTO QUE SE DESARROLLARA. STAR --}}
            <div class="form-group row rounded mx-auto cuadros-forms">
              <h5 class="col-sm-12 mb-3"><strong>TIPO DE MANTENIMIENTO QUE SE DESARROLLARA.</strong></h5>
              <div class="col-sm-12 mx-auto text-center">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="radioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline1" id="lbl-mantenimiento-correctivo"><strong>MANTENIMIENTO CORRECTIVO</strong></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="radioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2" id="lbl-mantenimiento-preventivo"><strong>MANTENIMIENTO PREVENTIVO</strong></label>
                </div>
              </div>
            </div>
            {{!-- TIPO DE MANTENIMIENTO QUE SE DESARROLLARA. END --}}
          </form>
          </div>
      </main>
      {{> footer-authentication }}
    </div>
{{> footer }}
